<!DOCTYPE html>
<html>
<head>
  <title>Welcome</title>
</head>
<body>
  <h1>Welcome to the App!</h1>
  <%# <p>
    <%# <%= link_to 'Sign In', login_path %> |
    <%# <%= link_to 'Sign Up', signup_path %>
  <%# </p>  %>
</body>
</html>
